{{page-title "Dummy"}}
<h2 id="title">Welcome to draggable modifier demo</h2>

<Box @panDirection={{6}}>
    horizontal
</Box>

<Box @panDirection={{24}}>
    vertical
</Box>

<Box @panDirection={{30}}>
    all
</Box>

{{outlet}}
